
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" /> <meta http-equiv="Pragma" content="no-cache" /> <meta http-equiv="Expires" content="0" />
    <title>GetOffTheRoad - HackPSU Fall 2019</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/product.css') }}" rel="stylesheet">
	<script>
$(document).ready(function () {
var formBasic = function () {
  $('#searchtable').html("");
  $.getJSON( "api/v1.0/search", {
        location: $('#searchtext').val()
     }, function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
	  items.push( "<tr><th scope='row'>" + val.zip + "</th><td>" + val.city + ", " + val.state + "</td><td><a class='btn btn-outline-secondary' href='JavaScript:Void(0);' onclick='$.get( \"api/v1.0/get_drivability\", {loc_code:\""+val.code+"\"}, function( data ) {alert(data);})' id='test"+val.code+"'>Check<br>Drivability</a></td><td><a class='btn btn-outline-secondary' href='JavaScript:Void(0);' onclick='$.get( \"api/v1.0/demo\", {firstname:\"Chandler\", location:\""+val.code+"\"}, function( data ) {alert(data);})' id='test"+val.code+"'>Sample Text<br>Message</a></td></tr>" );
  });
  $('#searchtable').html(items.join(""));
});
};

$("#searchbutton").on("click", function (e) {
  e.preventDefault();
  formBasic();
});
});

	</script>
  </head>

  <body>

    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="https://hackpsu-fall-2019.devpost.com/">HackPSU Fall 2019</a>
        <a class="py-2 d-none d-md-inline-block" href="https://github.com/VennilaPugazhenthi/GetOffTheRoad">Github</a>
        <a class="py-2 d-none d-md-inline-block" href="#api">API Docs</a>
        <a class="py-2 d-none d-md-inline-block" href="#demo">Demo</a>
{% if loggedIn %}
        <a class="py-2 d-none d-md-inline-block" href="logout">Logout</a>
{% else %}
        <a class="py-2 d-none d-md-inline-block" href="register">Register</a>
        <a class="py-2 d-none d-md-inline-block" href="login">Login</a>
{% endif %}
      </div>
    </nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">GetOffTheRoad</h1>
        <p class="lead font-weight-normal">GetOffTheRoad is a public API for predicting the 'drivability' of a user's commute.
	This webpage demonstrates the API by delivering a daily text message to a subscriber who signs up using their phone number and city.</p>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
	<a name="api"><div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">API</h2>
          <p class="lead">GetOffTheRoad provides the following REST API calls:</p>
	  <table class="table bg-light">
  <thead>
    <tr>
      <th scope="col">Call</th>
      <th scope="col">Type</th>
      <th scope="col">Parameters</th>
      <th scope="col">Returns</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="api/v1.0/search?location=Nome">api/v1.0/search</a></td>
      <td>HTTP GET</td>
      <td>location: {Search string}</td>
      <td>A JSON array containing every matching location - includes the Location Code, State, City, and Zipcode</td>
    </tr>
    <tr>
      <td><a href="api/v1.0/get_drivability?loc_code=6789_PC">api/v1.0/get_drivability</a></td>
      <td>HTTP GET</td>
      <td>loc_code: {Location Code}</td>
      <td>A JSON object containing the drivability score and some relevant weather data</td>
    </tr>

  </tbody>
	  </table>
        </div>
      </div></a>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
	  <a name="demo"><div class="my-3 p-3">
          <h2 class="display-5">Demo</h2>
          <p class="lead">Enter any location to recieve a drivability notification!</p>
	  <input id="searchtext" class="form-control" type="text" placeholder="Enter a Location" aria-label="Search">
	  <br/>
	  <a id="searchbutton" class="btn btn-outline-secondary" href="#">Search</a>
          </div></a>
	<table class="table bg-light">
  <thead>
    <tr>
      <th scope="col">Zipcode</th>
      <th scope="col">City</th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody id="searchtable">
  </tbody>
</table>
        <!--div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div-->
      </div>
    </div>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
        </div>
        <div class="col-6 col-md">
          <h5>Links</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://hackpsu-fall-2019.devpost.com/">HackPSU Fall 2019</a></li>
            <li><a class="text-muted" href="https://github.com/VennilaPugazhenthi/GetOffTheRoad">Github</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Team</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://github.com/VennilaPugazhenthi">Venilla Pugazhenthi</a></li>
            <li><a class="text-muted" href="https://github.com/busyboredom">Charlie Wilkin</a></li>
            <li><a class="text-muted" href="https://github.com/cjgriscom">Chandler Griscom</a></li>
            <li><a class="text-muted" href="https://github.com/pbl5061">Peter Lee</a></li>
          </ul>
        </div>
        <!--<div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>-->
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{ url_for('static',filename='js/vendor/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vendor/holder.min.js') }}"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>

